# -----------------
# Python
# -----------------
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# -----------------
# FastAPI / backend
# -----------------
*.log

# -----------------
# Node / Next.js
# -----------------
frontend/node_modules/
.next/
out/

# -----------------
# OS
# -----------------
.DS_Store
Thumbs.db

# -----------------
# IDE
# -----------------
.vscode/
.idea/

# -----------------
# Build
# -----------------
dist/
build/